@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes borderGlow {
    0% {
      border-color: rgba(255, 223, 134, 0.1);
      box-shadow: 0 0 5px rgba(255, 223, 134, 0.1);
    }
    50% {
      border-color: rgba(255, 223, 134, 0.3);
      box-shadow: 0 0 10px rgba(255, 223, 134, 0.3);
    }
    100% {
      border-color: rgba(255, 223, 134, 0.1);
      box-shadow: 0 0 5px rgba(255, 223, 134, 0.1);
    }
}

.animate-borderGlow {
  animation: borderGlow 3s infinite ease-in-out;
}
